<form id="shippin_billing_info">
<fieldset id="shippingInfo">
<legend>Shipping Address</legend>
<input name="shipName" id="shipName" type="text" placeholder="Name" />
<input name="shipAddress" id="shipAddress" type="text" placeholder="Address" />
<input name="shipEmail" id="shipEmail" type="text" placeholder="Email" />
</fieldset>
<fieldset id="billingInfo">
<legend>Billing Address</legend>
<label class="checkbox">
<input type="checkbox" name="sameAsShipping" id="sameAsShipping"> Same as Shipping
</label>
<input name="billName" id="billName" type="text" placeholder="Name" />
<input name="billAddress" id="billAddress" type="text" placeholder="Billing Address" />
</fieldset>
<input type="submit" class="btn btn-primary" value="Submit" />
</form>